<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.UAIConnectionString" connectionString="Data Source=DESKTOP-8S87912;Initial Catalog=UAI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>